html {
  height: 100%;
}
.faucet-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  background-image: url('https://vcdn-sohoa.vnecdn.net/2022/07/12/shubham-dhage-JlijbOtSWuw-unsp-1821-6208-1657620462.jpg');
  background-size: cover;
  background-position: center;
  height: 980px;
}

.balance-view {
  color: yellow;
}

.balance-view strong {
  color: rgb(106, 225, 126);
}

.adress-ac {
  color: rgb(238, 223, 223);
}

.text-address{
  color: bisque;
}